body{
	background-color: A1D6E3;
	display: block;
	margin: 0px 150px;
}

header{
	text-align: center;
}

#content{
	min-height: 75%;
}

#topics{
	display: block;
	width: calc(30% - 46px);
	float: left;
	//border-style: solid;
	padding: 0px 20px;
	
}

#tweets{
	display: block;
	width: calc(70% - 40px);
	float: left;
	padding: 0px 20px;
}

form{
	font-size: 24px;
	font-weight: bold;
}
input{
	font-size: 24px;
}
#XML{
	display: none;
}
#hide:focus ~ #XML {
  display: none;
}
#show:focus ~ #XML {
  display: block;
}